:root
{
	--color-primary:#0065FC;
    --color-secondary:black;
}

.main-container {
	max-width: 1500px;
	margin: 0 auto;
}

.logo img
{
	width: 61px;
    margin-top: 30px;
}

.titre {
	margin-top: 50px; /* VALEUR ? */
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation ul {
    list-style-type: none;
    display: flex;
}

.navigation li {
    margin: 0 30px;
    }

.Hebergement-Activite  a:hover::before { /* A CORRIGER */
    content: "";
    height: 2px;
    background-color: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/********************* RECHERCHE **********************/

.forme {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 49px;
	left: 68px;
	background: #F2F2F2;
	border-radius: 15px 0px 0px 15px;
}

.search-container {
	display: flex;
	align-items: center;
	border: 1px solid #F2F2F2;
	border-radius: 0px 15px 15px 0px;
	height: 49px;
	width: 377px;
}

.search-container input[type="text"] {
	width: 100%;
	height: 100%;
	border: none;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	box-sizing: border-box;
}

.search-btn-container {
	display: flex;
	align-items: center;
    justify-content: center;
	width: 132px;
	height: 49px;
	background: var(--color-primary);
	border: 1px solid var(--color-primary);
	border-radius: 0px 15px 15px 0px;
}

.search-btn-container button {
	background: none;
	border: none;
	color: #fff;
	font-size: 16px;
	font-family: sans-serif;
	cursor: pointer;
    font-weight: 700;
}

.barre {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

input[type="text"] {
    color: black;
  }
  
/********************* FILTRE **********************/
.filtre {
	display: flex;
	align-items: center;
}

.filtre li {
	display: inline-flex;
	border: 2px solid #D9D9D9;
	font-weight: 700;
	height: 50px;
	width: 167px;
	Left : 591px;
	align-items: center;
	gap: 10px;
	border-radius: 25px;
	justify-content: center;
}

.filtre li:hover {
	background: #DEEBFF;
}

.filtre ul {
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.circle {
	border-radius: 50%;
	background-color:#0065FC;
	display: inline-flex;
    border: 1px solid #D9D9D9  }

.logements {
	display: inline;
}

.fa-info-circle {
	color: white;
	font-size: 20px;
}

/****** Hebergements And Populaires ***********/
.hebergements-block {
	display: flex;
	margin-top: 37px;
    gap : 40px;
}

.hebergements { 
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 30px;
    width: 100%;
}

.populaires {  /* A CORRIGER */
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    width: 100%;
}

/****** Hebergements ***********/
.hebergements-cards {
	width:100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 30px;
	height: 480px;
}

.card-main
{
	background-color: white;
	border-radius: 20px;
	padding: 0px 0px 15px;
	width: 250px;
	height: 207px;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.card-kontent
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	padding-left: 15px;
	width: 220px;
	height: 19px;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

.hebergements-cards img
{
	box-sizing: border-box;
	width: 100%;
	height: 124px;
	border: 5px solid #FFFFFF;
	border-radius: 20px 20px 0px 0px;
}

.afficher
{
	border: none;
	color: black;
	height: 21px;
	font-weight: 700;
	font-size: 18px;
	padding-right: 80%;
	margin-top: 10px;
	background: #F2F2F2;
    padding: 5px 10px;
    display: inline-block;
}

/********* Populaires ***********/
.card {
	background-color: white;
	border-radius: 20px;
	padding: 5px;
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-title {
	font-size: 16px;
}

.populaires {
	width: 32%;
}

.populaires-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.populaires-cards .card {
	display: flex;
	margin-top: 33px;
    width: 369px;
    height: 146px
}

.card-content {
	width: 67%;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.populaires-cards img {
	width: 33%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

/****** Activités ***********/

.container-activite {	
    display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 19px;
	height: 19px;
}

.activite-cards {
	display: flex;
	justify-content: space-between;
}

.card-activite {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.card-activite:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.activite-cards img {
	width: 298px;
	height: 380px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

/************FOOTER***************/
.block {
	margin-top: 38px;
	background-color: #F2F2F2;
}

.block p {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.block ul {
    list-style-type: none; 
}

.block li {
    margin-bottom: 15px;
    margin-left: -40px;    /* PEUX MIEUX FAIRE */
  }

.row {
	display: flex;
	padding-left: 70px;
}

.col {
	flex: 1;
}



/************media query tablette***************/

@media (max-width: 1024px) { /* OK */
	.main-container
	{
        margin-left: 50px;
        margin-right: 50px;
	}
}



/********** HEBERGEMENT *********/


@media (max-width: 1024px) { 
    
    .hebergements-block {
        background-color: white;
        width: 100%;
    }

    .card-main   {
        flex-direction: row;
        margin-top: 15px;
    }

    .hebergements-cards {
        width: 100%;
    }
}

 /******** LES PLUS POPULAIRE ***********/

 @media (max-width: 1024px) {  /* QUASIMENT OK */

    .hebergements-block {
        flex-direction: column;
    }
    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        justify-content: space-between;
    }
}

 /******** Activités à Marseille ***********/

 @media (max-width: 1024px) { /* OK */
    .activite-cards {
        justify-content: space-between;
        
        
    }
    .card-activite {
        margin-bottom: 20px;
        width: 193px;
    }

    .activite-cards img {
	width: 100%;
    object-fit: cover; 
    height: 200px;
    }
}

 /********  FOOTER ***********/

 @media screen and (min-width: 1024px) { /* NE MARCHE PAS */
    footer  { 
      margin-left: 50px;
      margin-right: 50px;
    }
  }








/************MEDIA QUERRY MOBILE***************/


 /************* H1 / a ********/

 @media (max-width: 768px) { /* A CORRIGER */
	.page-header
	{
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
		padding-right: 20px;
	}
}

 @media (max-width: 768px) { 
 
    h1 {
        margin-top: 50px;
    }
}

@media (max-width: 768px) { /* A VERIFIER */
    a {
    display: block; 
    width: 100%;
    height: 100%;
   }
}

 /************* HEAD ********/

@media (max-width: 768px) { /* OK */
    .logo {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 768px) { /* A CORRIGER  */
    .navigation {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
    }

@media (max-width: 768px) { /* OK */
 
    .Hebergement-Activite:after {
    content: '';
      position: absolute;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: #F2F2F2;
    }
  }

     
@media (max-width: 768px)  { /* A CORRIGER */
	.Hebergement-Activite a:hover:before {
        content: "";
        height: 2px;
        display: block;
        background-color: var(--color-primary);	
    }
}

 /************* RECHERCHE ********/

@media (max-width: 768px) {  /* OK*/
    button[type="submit"] {
    text-indent: -9999px;
    background-image: url("/images/vector/Vector5.png");
    width: 17px;
    height: 17px;
    }

  .forme { /* A CORRIGER */
    width: 50px;
    height: 49px;
    }
    
/*  .search-btn-container { 
    width: calc (50% - (49px / 2)); 
    width: 49px;
    height: 49px;
 } */
} 

 /************* FILTRES ********/

  @media (max-width: 768px) { /* OK */
    .filtre {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: center;
    }
    .filtre h2 {
    width: 100%;
    margin-top: 35px;
  }
}

  @media (max-width: 768px) {
    .filtre ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      margin-right: 100px;
    }
  }

 /******** LES PLUS POPULAIRE ***********/

 @media (max-width: 768px) { /* OK */
    .populaires {
      order: 1;
    }
  
    .hebergements {
      order: 2;
    }
  }

 @media (max-width: 768px) {  /* A CORRIGER */

    .populaires-cards {
        flex-direction: column;

    }
    .populaires {
        width: 100%;
        
    }
    .card-content {
        width: 100%;       
    }
}

 /******** Hebergement ***********/

@media (max-width: 768px) { /* A CORRIGER */
    
    .hebergements {
        background-color: white;
    }

    .activite-cards {

    }

    .card-main   {
        flex-direction: row;
        margin-top: 15px;
    }

    .hebergements-cards {
        width: 100%;
        flex-direction: column;
        flex-direction: row;
        height: auto;
    }

    .afficher
     {
        background-color:white;
    }
}

 /******** Activités à Marseille ***********/

 @media (max-width: 768px) { /* A AJUSTER */
    .activite-cards {
        flex-direction: column;

    }
    .card-activite {
        margin-bottom: 20px;
    }
    .container-activite {	
        width: 100%;
    }

    .activite-cards img {
	width: 100%;
    height: 141px;
    object-fit: cover; /* A VERIFIER */
    }
}

 /********  FOOTER ***********/

 @media (max-width: 768px) { /* A CORRIGER */
    .block {
        width: 100%;
        padding: auto;
        margin: auto;
    }
    .col {
        margin-bottom: 20px;
    }

    .row {
        display: flex;
        flex-direction: column;
    }
}

