:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

a:visited {
    color: black;
  }

  p { 
    font-family: 'Raleway';
    font-style: normal;
    color: black;
  }

  a {
    text-decoration: none;
    color: black;
    }

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}











